@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size:20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
font-size: 16px;
color: #465b52;
margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
margin: 40px 0;
}

body{
    width: 100%;
}

/*Header*/
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    font-style: italic;
    color: #810808;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar li{
    padding: 0 20px;
    list-style: none;
    font-size: 600;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active{
    /* text-decoration: underline; */
    color: #088178;
    
}
#navbar li a.active::after,
#navbar li a:hover::after{
content: " ";
width: 60%;
height: 2px;
background: #088178;
position: absolute;
bottom: -4px;
left: 20px;
}

/*Home page*/
#hero{
    background-image: url(asset/logo/hero4.png);
    background-size:cover ;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 80px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 14px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url(./asset/logo/button.png);
    border: none;
    color: #088178;
    padding: 14px 80px 14px 65px;
    background-color: transparent;
    background-repeat:no-repeat ;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/*features*/
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0,0,0.06);
    border: 1px soild #cce7d0;
    border-radius: 2px;
    margin: 15px 0;
    padding: 25px 15px;
}
#feature .fe-box:hover{
    box-shadow: 10px 20px 54px rgba(0, 0,0,0.06);
    cursor: pointer;
}
#feature .fe-box h6{
    background-color: #fddde4;
    color: #088178;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    padding: 9px 8px 6px 8px;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #82d4a3;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #bcebe8;
}

/*Products*/
#products-contaner{
    padding: 20px;
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    
}

#products-contaner .cover-product{
    margin: 20px;
}
#feature-product{
    text-align: center;
    margin: 50px;
}
#feature-product h6{
    color: rgb(161, 161, 161);
    font-size: 15px;
    font-weight: 400;
    
}
.cover-product{
    background-color:rgb(228, 225, 225);
    width: 300px;
    border-radius: 10px;
    
}
.product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.10);
    cursor: pointer;
}


.product-info span {
    color: rgb(31, 147, 168);
    margin-left: 10px;
}
.product-info h3{
    margin-left: 10px;
}
.star{
    color: yellow;
    margin-left: 10px;
}

.price-cart{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #088178;
    font-size: 20px;
    font-weight: 600;
}

.kart{
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 40px;
    font-weight: 500;
}
.cover-product img{
    width: 280px;
   margin: 10px;
   border-radius: 10px;
}

#banners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("./asset/banner/b2.jpg");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
   
}
#banners h5{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
#banners h1{
    color: #fff;
    padding: 10px 0;
}
#banners span{
    color: red;
}

 button.normal{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}
#banners button:hover{
    background-color: #088178;
    color: #fff;
}

button:active{
    opacity: 0.6;
}

#add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
}
.add1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url("./asset/banner/b17.jpg");
    padding: 30px;
}
.add1 h3{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}
.add1 h2{
    color: #fff;
    font-weight: 500;
}

.add1 h5{
    color: #fff;
}
.add1 h5 span{
    color:#571111;
    font-size: 20px;
    font-style: italic;
}
.add1 button{
    width: 100px;
    height: 40px;
    border: rgb(41, 21, 21);
   background-color: transparent;
    color: white;
}
.add1 button.box-btn1{
    width:140px;
    font-size: 15px;
    font-weight: 600px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid;
    transition: 0.2s;
}


.add2{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url("./asset/banner/b10.jpg");
}

.add2 h3{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}
.add2 h2{
    color: #fff;
    font-weight: 500;
}

.add2 h5{
    color: #fff;
}
.add2 h5 span{
    color:#e7f15e;
    font-size: 20px;
    font-style: italic;
}
.add2 button{
    width: 100px;
    height: 40px;
    border: rgb(41, 21, 21);
   background-color: transparent;
    color: white;
}
.add2 button.box-btn2{
    width:140px;
    font-size: 15px;
    font-weight: 600px;
    color: #fff;
    background-color:#088178;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid;
    transition: 0.2s;
}
.add2 button.box-btn2:hover{
    color:black;
}
.add2 button.box-btn2:active{
    color: #1b2221;
    opacity: 0.6;
}

.add1 button.box-btn1:hover{
    color:rgb(0, 0, 0)0, 0, 0, 0.991;
}
.add1 button.box-btn1:active{
    color: #2b504b;
    opacity: 0.6;
}

#seasion-sale{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.seasonal{
    background-image: url("./asset/banner/b7.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 450px;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;

}

.seasonal h2{
    color: #fff;
    font-size: 20px;
}
.seasonal h5{
    color: red;
    font-size: 15px;
}

.footer-collection{
    background-image: url("./asset/banner/b4.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 450px;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;

}

.footer-collection h2{
    color: #fff;
    font-size: 20px;
}
.footer-collection h5{
    color: red;
    font-size: 15px;
}

.t-shirt{
    background-image: url("./asset/banner/b18.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 450px;
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;

}

.t-shirt h2{
    color: #fff;
    font-size: 20px;
}
.t-shirt h5{
    color: red;
    font-size: 15px;
}

#newsletter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-image: url("./asset/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    padding: 20px 40px;
    margin-bottom: 30px;
    height: 40vh;
    
}

.nexttext h2{
    color: #fff;
}
.nexttext p{
    color: #fff;
}
.nexttext span{
    color: yellow;
}

.signup .input{
    width: 310px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border: none;
}

.signup button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

/*CCONTACT*/

#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact{
    /* margin: 40px; */
    padding: 20px;
  
}
/* .contact.Mycollection{
    display: block;
    width: 100%;
} */

.contact .span{
    font-size: 20px;
    font-weight: bold;
    color: #1a1a1a;
}

/*social-media*/
.social-media{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.social-media a.fb{
    color:#1877f2;
    font-size: 20px;
}
a.fb:hover{
   
    opacity: 0.6;
}

.social-media a.tw{
    color:#000000;
    font-size: 20px;
}
a.tw:hover{
    color: rgb(34, 104, 217);
}
.social-media a.ig{
    color: red;
    font-size: 20px;
}
a.ig:hover{
   
    color:rgb(242, 84, 189);
}
.social-media a.pn{
    color:#f23518;
    font-size: 20px;
}
a.pn:hover{
   
    color:rgb(242, 84, 189);
}
.social-media a.yt{
    color:#f23518;
    font-size: 20px;
}
a.yt:hover{
   
    color:rgb(242, 84, 189);
}

/*About*/
.about h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.about a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

/*My Account*/

.myaccount h3{
    margin-bottom: 15px;
    font-size: 25px;
}
.myaccount a{
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}